/* ! ------------------------- RESET ------------------------- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*! ------------------------- HEADER ------------------------- */

header {
    background-image: url("../img/fondoheader.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    display: flex;
    justify-content: space-between;
}


.barra {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-direction: row;
}

.barra div {
    display: flex;
    justify-content: flex-end !important;
    align-items: flex-end;
}

.nav-item a {
    font-size: larger;
    text-shadow: -2px -2px 2px black, 2px -2px 2px black, 2px 2px 2px black, -2px 2px 2px black;
}

.barra div button {
    display: flex;
    justify-content: flex-end;
}

.logo {
    filter: invert();
}

@media (max-width: 700px) {
    header {
        background-size: auto;
    }

    .logo img {
        height: 200px;
    }
}

/*! ------------------------- MAIN ------------------------- */

main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

h1 {
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 400%;
}

.impar {
    display: flex;
    margin: 20px;
    text-align: justify;
}

.impar img {
    width: 50%;
}

.impar p {
    margin-right: 30px;
    font-size: larger;
}

.par {
    display: flex;
    margin: 20px;
    text-align: justify;
}

.par img {
    width: 50%;
}

.par p {
    margin-left: 30px;
    font-size: larger;
}

.mainProd {
    display: grid;
    justify-items: center;
    grid-template-areas:
        "buscar"
        "prod"
    ;
}

.mainProd section {
    width: 100%;
    display: flex;
    justify-content: center;
}

.buscador {
    width: 70%;
    margin: 20px;
    padding: 7px;
    padding-left: 10px;
    border: 1.5px black solid;
    border-radius: 4px;
    font-size: large;
    grid-area: buscar;
}

.productos {
    align-items: center;
    flex-wrap: wrap;
    margin-top: 30px;
    margin-bottom: 30px;
    grid-area: prod;
}

.productos div {
    display: flex;
    text-align: center;
    margin: 10px;
    width: 300px;
    height: 450px;
    justify-content: center;
    justify-items: center;
    flex-direction: column;
    align-items: center;
    flex-wrap: nowrap;
}

.productos div:hover {
    box-shadow: 10px 10px 10px -4px rgba(0, 0, 0, 0.61);
    -webkit-box-shadow: 10px 10px 10px -4px rgba(0, 0, 0, 0.61);
    -moz-box-shadow: 10px 10px 10px -4px rgba(0, 0, 0, 0.61);
    transform: scale(1.1) translateY(-10px);
    border-radius: 10px;
}

.productos div img {
    height: 250px;
    width: 200px;
}


.productos div h2 {
    height: 100px;
}

.productos div button {
    height: 50px;
    width: 100px;
}

/*! ----------- CATENA ----------- */

.catena {
    margin: 20px;
    display: grid;
    grid-template-columns: 1fr 2fr;
}

.text-catena {
    margin: 15px;
    display: flex;
    flex-direction: column;
    font-size: x-large;
    justify-content: center;
    text-align: center;
}
.text-catena h2 {
    margin: 10px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 60px;
}
.text-catena p {
    margin: 20px;
}

.img-bodegas1 {
    display: grid;
    grid-auto-rows: 300px;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
    grid-template-areas:
        "cat1 cat1 cat2"
        "cat3 cat4 cat5"
        "cat7 cat6 cat8"
        "cat7 cat9 cat9"
    ;
}

.img-bodegas1 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    box-shadow: 10px 10px 9px -6px rgba(0, 0, 0, 0.43);
    -webkit-box-shadow: 10px 10px 9px -6px rgba(0, 0, 0, 0.43);
    -moz-box-shadow: 10px 10px 9px -6px rgba(0, 0, 0, 0.43);
}

.cat1 {
    grid-area: cat1;
}

.cat2 {
    grid-area: cat2;
}

.cat3 {
    grid-area: cat3;
}

.cat4 {
    grid-area: cat4;
}

.cat5 {
    grid-area: cat5;
}

.cat6 {
    grid-area: cat6;
}

.cat7 {
    grid-area: cat7;
}

.cat8 {
    grid-area: cat8;
}

.cat9 {
    grid-area: cat9;
}

/*! ----------- ZUCCARDI ----------- */
.zuccardi {
    margin: 20px;
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.text-zuccardi {
    margin: 15px;
    display: flex;
    flex-direction: column;
    font-size: x-large;
    justify-content: center;
    text-align: center;
}

.text-zuccardi h2 {
    margin: 10px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 60px;
}

.text-zuccardi p {
    margin: 20px;
}

.img-bodegas2 {
    display: grid;
    grid-auto-rows: 300px;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
    grid-template-areas:
        "zuc1 zuc3 zuc3"
        "zuc5 zuc5 zuc4"
        "zuc2 zuc8 zuc6"
        "zuc7 zuc7 zuc9"
    ;
}

.img-bodegas2 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    box-shadow: 10px 10px 9px -6px rgba(0, 0, 0, 0.43);
    -webkit-box-shadow: 10px 10px 9px -6px rgba(0, 0, 0, 0.43);
    -moz-box-shadow: 10px 10px 9px -6px rgba(0, 0, 0, 0.43);
}

.zuc1 {
    grid-area: zuc1;
}

.zuc2 {
    grid-area: zuc2;
}

.zuc3 {
    grid-area: zuc3;
}

.zuc4 {
    grid-area: zuc4;
}

.zuc5 {
    grid-area: zuc5;
}

.zuc6 {
    grid-area: zuc6;
}

.zuc7 {
    grid-area: zuc7;
}

.zuc8 {
    grid-area: zuc8;
}

.zuc9 {
    grid-area: zuc9;
}

@media (max-width: 1200px) {
    main h1 {
        font-size: 250%;
    }

    .impar {
        flex-direction: column;
        margin-top: 10px;
        margin-bottom: 10px;
        padding: 5px;
        align-items: center;
    }

    .par {
        flex-direction: column-reverse;
        margin: 5px;
        padding: 5px;
        align-items: center;
    }

    .par p {
        font-size: large;
        margin: 5px;
    }

    .impar p {
        font-size: large;
        margin: 5px;
    }

    .par img {
        width: 500px;
    }

    .impar img {
        width: 500px;
    }
}

@media (max-width: 700px) {
    main h1 {
        font-size: 200%;
    }

    .impar {
        flex-direction: column;
        margin-top: 10px;
        margin-bottom: 10px;
        padding: 5px;
        align-items: center;
    }

    .par {
        flex-direction: column-reverse;
        margin: 5px;
        padding: 5px;
        align-items: center;
    }

    .par p {
        font-size: small;
        margin: 5px;
    }

    .impar p {
        font-size: small;
        margin: 5px;
    }

    .par img {
        width: 300px;
    }

    .impar img {
        width: 300px;
    }
}

/*! ------------------------- FOOTER ------------------------- */

footer {
    display: flex;
    background-image: url("../img/fondofooter.png");
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: space-between;
}

.infoContacto {
    color: white;
    width: 400px;
    order: 2;
    text-align: right;
    justify-items: right;
}

.infoContacto h2 {
    width: 350px;
    position: relative;
    text-shadow: -2px -2px 2px black, 2px -2px 2px black, 2px 2px 2px black, -2px 2px 2px black;
}

.infoContacto p {
    text-shadow: -2px -2px 2px black, 2px -2px 2px black, 2px 2px 2px black, -2px 2px 2px black;
    margin-right: 10px;
}

.totalRedes {
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
}

.redes {
    height: 40px;
    margin: 10px;
    margin-bottom: 20px;
}

@media (max-width: 700px) {
    .infoContacto {
        width: 175px;
    }

    .infoContacto h2 {
        width: 175px;
    }

    .infoContacto p {
        font-size: smaller;
    }

    .totalRedes {
        flex-direction: column;
    }

    .redes {
        margin: 5px;
    }
}